@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");


.titulo{
    color:white;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 600px;
    height: 150px;

    padding: 10px; 
    box-sizing: border-box;
    border: 20px double violet;
    border-radius: 20px;
    

}

body{
    font-family: 'Press Start 2P';
}
button{
    font-family: 'Press Start 2P';
}







#sectioninicio{


    background-image: url(./Fondoinicio.png);
    background-position: center;
    background-size: cover;
    background-color: black;

    height: 100vh;
    


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#botoninicio{
    
    background-color: black;
    box-sizing: border-box;
    border: 5px solid violet;


    width: 300px;
    height: 75px;
    
    border-radius: 10px;

    color: white;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    

  
}
#botoninicio:hover{
    border-color: white;
}

/* 
#startgame{    hace falta hacer esto, se puede hacer en el class botoninicio, el color y el fontsize se puede desde ahi, (creo no podia porque no ponia el px en el font size, el display flex se puede poner arriba


    color: white;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
} 

*/






#sectionmascota {


    background-image: url(./Fondosinmascotas.png);
    background-position: center;
    background-size: cover;

    height: 100vh; 
    background-color: beige;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   


    

}
.seleccionarmascota{
    color: white;

    display: flex;
    align-items: center; /*de arriba para abajo*/
    justify-content: center;




    
}

#inputmascota{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;

}
.botonmascota{  
    color: white;
    font-size: 12px;

    width: 240px;
    height: 80px;      /*dimensiones de la caja*/

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    padding: 10px;                 /* el espacio entre lo que hay dentro de la caja y los limites de la caja */
    box-sizing: border-box;        /* el tamaño que quiero de la caja*/
    margin: 15px 20px 15px 20px;         /* se pueden poner 4 valores en el margin, el primero es para arriba y sigue en el sentido de las manecillas del reloj, segundo para la derecha, tercero para abajo, y cuarto para izquierda*/

    /* margin: 10px;  así lo tenía antes  */

    border: 7px dashed violet;           /* el bordesito tal cual*/
    border-radius: 10px;
}



.botonmascota img{   /* selecciona todos los img dentro de la clase boton mascota*/
    width: 70px;

}

.botonmascota:hover img{   /* selecciona todos los img dentro de la clase boton mascota*/
    width: 100px;

}


.botonmascota #Eaux{   /* para modificar solo a eaux porque esta muy grande el hpd*/
    width: 50px;   

}
.botonmascota:hover #Eaux{   /* para modificar solo a eaux porque esta muy grande el hpd*/
    width: 80px;   

}

.botonmascota:hover{
    border-color: white;
    backdrop-filter: blur(1px);


    height: 80px;             /* para cambiar de color cuando el cursos esta encima, no puse cambios pero asi se hace */
    width: 240px;
    box-sizing: border-box;
    
}

.botonmascota p {
    display: flex;
    align-items: center;
    justify-content: center;
}



input[name="mascota"]:checked + label{          /* para que se quede el color seleccionado, llamamos su input (y lo que le identifica                    */

    /* [name="mascota"]   esto se puede ignorar y funciona, porque solo existe un input */
   /*  [type="radio"] tambien funciona  */
    border-color: white;
}
input{              /* para quitar los circulos*/  
    display: none;
}


#botonseleccionar{


    color: white;
    background-color: black;


    height: 75px;
    width: 300px;

    box-sizing: border-box;
    border: 5px solid violet;

    border-radius: 10px;

    
}
#botonseleccionar:hover{
    border-color: white;
}
#seleccionar{
    color: white;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

}


#sectionmapa{
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100vh;

    background-image: url(./Fondosinmascotas.png);
    background-position: center;
    background-size: cover;
}

#mapa{
    width: 1000px;    /* el porblema de la calidad era especificar el ancho del canva en html, en css lo unico que hace es estirar la imagen */
    height: 400px; 

    background-color: black;
    border: 20px violet double;
    border-radius: 20px;
    margin-bottom: 10px;

}

#botonesabajo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.botonesmover{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    height: 60px;
    width: 70px;
    background-color: black;
    border: 5px solid violet;
    border-radius: 12px;
}
.imagenflecha{
    width: 35px;
    height: 30px;
}
.botonesmover:active{
    border-color: white;
}


#sectionataque{


    color: white;
    background-image: url(./Diseño\ sin\ título.png);
    background-position: center;
    background-size: cover;

    height: 100vh; 
    background-color: beige;
   
    display: flex;   /* este display flex esta de más, en el js ya se declara esta section como display: flex, por tanto puede quitarse, lo dejo por si acaso*/
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.mascotayvida{
    background-color: transparent;


    /*width: 450px;                         no me deja cambiar el tamaño del texto   yo creo porque el tamaño minimo se la fuente no se*/ 

    width: 370px;
    height: 50px;


    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border: 0.5px dashed plum;
    border-radius: 10px;


    display: flex;
    align-items: center;
    justify-content: center;


    
    
}
.eligeataque{
    background-color: black;
    font-size: 22px;



    height: auto;


    box-sizing: border-box;
    padding: 5px 40px 5px 40px;
    border: 6px solid violet;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.botonataque{   
    color: white;
    font-size: 18px;
    background-color: transparent;

    width: 140px;
    height: 60px;

    box-sizing: border-box;
    margin: 10px 20px;

    padding: 10px;
    border: 6px dashed violet;
    border-radius: 10px;

}
.botonataque:hover{
    border-color: white;
    font-size: 30px;
    backdrop-filter: blur(1px);

}
.botonesataque{
    display: flex;
    flex-direction: row;
    
}



#tuataqueyrival{

    display: grid;


    grid-template-columns:  3.5fr 1fr 3.5fr;

    grid-template-rows:   repeat(3, 70px) 25px ;



}

.columnatuataque{
    grid-area: 1 / 1 / 4 / 2;
    background-color: transparent;
    

    border: 6px solid violet;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;


    width: auto;
    height: auto;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px 15px 0px 15px;


}
.columnatuataque:hover{
    backdrop-filter: blur(3px);

}





.columnaresultado{

    grid-area: 1 / 2 / 4 / 3;
    background-color: transparent;
    

    border-radius: 10px;
    padding: 10px;
    
    box-sizing: border-box;


    width: auto;
    height: 210px;



    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px 15px 0px 15px;


}


.columnaataquerival{
    grid-area: 1 / 3 / 4 / 4;
    background-color: transparent;
    

    border: 6px solid violet;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;


    width: auto;
    height: auto;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px 15px 0px 15px;


}
.columnaataquerival:hover{
    backdrop-filter: blur(3px);

}
.resumenabajo{

    grid-area: 4 / 2 / 5 / 3 ;

    display: flex;

    flex-direction: row;


   
}











#resultado {   /*  para seleccionar dos objetos, ya lo puse aparte porque no quiero que el margin afecte al resultado, lo volví a poner porque ahora el margin afecta de ambos lados y queda centrado*/

    font-size: 20px;

} 



#ltuataqueyrival{

    display: flex;

    align-items: center;
    justify-content: center;

    margin-left: 65px;
    width: 1200px;
}
.lataque, #resultadofinal{
    margin: 0px 15px 0px 15px;
    font-size: 18px;
}

#sectionmensajes{

    color: white;

    background-image: url(./Fondosinmascotas.png);
    /* 
    
    background-position: center;
    background-size: cover;      
    
    quito esto para que se repita la imagen de fondo, porque cuando esta puesto la imagen se queda pero como estan entrando mensajes, se estira la imagen             */

    background-color: black;


    display: flex;
    gap:50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





#sectionreset{

    color: white;

    background-image: url(./Fondoinicio.png);
    background-position: center;
    background-size: cover;
    background-color: black;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;                                   /* de arriba para abajo*/
    justify-content: center;                    /*izquierda a derecha*/
  
}

#botonreset{

    color: white;
    background-color: black;
    


    width: 600px;
    height: 150px;

    box-sizing: border-box;
    padding: 10px;
    border: 20px double violet;
    border-radius: 20px;


}
#botonreset:hover{
    border-color: white;
}

#reset{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}








@media (max-width: 900px){


    #inputmascota{
        flex-direction: column;
    }


    .inputmascota{
        display: flex;
        flex-direction: column;
   
    }

    body{
        font-size: 10x;
    }
    button, #botoninicio{
        font-size: 18px;
        width: auto;
        height: auto;
    }

    #botonreset{
        font-size: 30px;
        width: auto;
        height: auto;
        padding: 10px;

     }
    section{
        width: auto;
        height: auto;
    }
    .titulo{
        font-size: 30px;
        width: auto;
        height: auto;
        padding: 10px;
        margin: 0px 40px 0px 40px;
    }
    .eligeataque{
        font-size: 15px;
        width: auto;
        height: auto;
        padding: 5px;
    }

    .botonesataque{
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto; 

        margin: 2px 2px;
        padding: 0px;
    }
    #elboton{
        display: none;
        color: transparent;
        border-color: transparent;
      
    }
    .botonataque{


    
        color: white;
        font-size: 18px;
        background-color: transparent;
    
        width: auto;
        height: auto;
    
        box-sizing: border-box;
        margin: 10px 20px;
    
        padding: 10px;
        border: 6px dashed violet;
        border-radius: 10px;
    
    
    
    
    
    }
    .botonataque:hover{
        border-color: white;
        font-size: 20px;
        backdrop-filter: blur(1px);
    
    }
    




    /* 
    A hacer:

    Las columnas de ataque, vida y mascota

    Queremos que sea responsive.

    Idea: esta parte esta estructurada con grid 

    modificamos el grid para que se tenga una sola columna 

    bajar el fontsize

    y poner mas rows, estos seran pequeños para que pueda entrar toda la info 
    (ya que tenemos otra sectionmensajes abajo que impide que se estire la section ataque)

    buscar que quepa y se vea bien 




    
     */

    #tuataqueyrival{
        display: grid;


        grid-template-columns:  minmax(auto, 300px);
    
        grid-template-rows:   repeat(4, 100px) ;


       width: auto;
       height: auto;

    }

    .columnatuataque{

        grid-area: 1 / 1 / 2 / 2;



        background-color: transparent;
        

        border: 6px solid violet;
        border-radius: 10px;
        box-sizing: border-box;


        width: auto;
        height: auto;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 8px;

        padding: 0px;
        margin: 0px;



    }
    .columnaataquerival{

        grid-area: 2 / 1 / 3 /2;


        background-color: transparent;
        
    
        border: 6px solid violet;
        border-radius: 10px;
        box-sizing: border-box;
    
    
        width: auto;
        height: auto;
    
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 8px;

        margin: 0px;
        padding: 0px;

    
    
    }
    .columnaresultado{
        grid-area: 3 / 1 / 4 / 2;

        




        z-index: 1;


        background-color: transparent;
        

        
        box-sizing: border-box;


        width: auto;
        height: auto;

        padding: 0px;
        margin: 0px;



        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5px;

    }
    .resumenabajo{
        grid-area: 4 / 1 / 5 / 2;
    }

    .mascotayvida{
        background-color: transparent;
    
        width: auto;
        height: auto;

        padding: 0px;
        margin:0x;
        border: 0px dashed transparent;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
    
        
        
    }






    #resultado{
        display: flex;
        align-items: center;
        justify-content:  center;
        font-size: 30px;
        color: gray;
        color: blur(10px);

    }

    #sectionreset{
        font-size: 10px;


    }

    #botonreset{
        margin: 0px 40px 0px 40px;
    }

    #ltuataqueyrival{
        margin: 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        width: auto;
    }
    .lataque, #resultadofinal{
        font-size: 10px;


        margin: 0px;
        margin-top: 20px;
    }
    
    
}



#botonfuego, #botonagua, #botontierra, #elboton{
    display: none;
}